<%- include('../partials/header')%>
<p>WHATS UP ATHLETE</p>
<% athletes.forEach(function(a) { %>
        <li id = "info"><%= a.name %> <%= a.height%> <%= a.weight%></li>
        <td class = "details"><a href = "/athletes/mealExercise">Meal Plans and Exercise Routines</a></td>
  <% }); %>

<%- include('../partials/footer')%>