<%- include('../partials/header')%>
<p>WHATS UP ATHLETE</p>
<% athletes.forEach(function(a) { %>
        <td><%= a.name %></td>
        <td><%= a.height%></td>
        <td><%= a.weight%></td>
        <td><a href = "/athletes/mealExercise">Meal Plans and Exercise Routines</a></td>
  <% }); %>

<%- include('../partials/footer')%>