<%- include('../partials/header') %>

<h1>Exercise's</h1>
    <ul class="exercise-body">
        <form id="add-exercise-form" action="/athletes/<%= regime._id %>/exerciseRoutine" method="POST">
            <section class="exercise">
                <label>Exercise's:
                <select class="list"name="nameExercise">
                    <option value="LOWERBODY:Squats w/ Weight">LOWERBODY:Squats w/ Weight</option>
                    <option value="LOWERBODY:Barbell Hip Thrust">LOWERBODY:Barbell Hip Thrust</option>
                    <option value="LEGS:Dumbbell Bullgarian Split">LEGS:Dumbbell Bulgarian Split</option>
                    <option value="ABS:Heals to the Heavans">ABS:Heals to the Heavans</option>
                    <option value="ABS:Alternating Thread the Needle">ABS:Alternating Thread the Needle</option>
                    <option value="CHEST:Dumbell Bench Press">CHEST:Dumbell Bench Press</option>
                    <option value="CHEST:Cable Pec Fly">CHEST:Cable Pec Fly</option>
                    <option value="CHEST:Diamond Push Ups">CHEST:Diamond Push Ups</option>
                    <option value="BICEPS:Close Grip Bar Curl">BICEPS:Close Grip Bar Curl</option>
                    <option value="BICEPS:Dumbbell Alternate Bicep Curl">BICEPS:Dumbbell Alternate Bicep Curl</option>
                    <option value="TRICEPS:Triceps Pushdown">TRICEPS:Triceps Pushdown</option>
                    <option value="TRICEPS:Bench Dips">TRICEPS:Bench Dips</option>
                    <option value="TRICEPS:Decline Bar Triceps">RICEPS:Decline Bar Triceps</option>
            </select><br><br>
                Sets:
                    <input type="number" name="sets" min="0" max="5"><br><br>
                Reps:
                    <input type="number" name="reps" min="0" max="20"><br><br>
                Time:
                <input type="text" pattern="\d:[0-5]\d" placeholder="1:30" name="time">
            </label><br>
            <br><button class="btn" type="submit">Add Exercises</button>
        </section>
        </form>
        <% regime.exercise.forEach(function(e) { %>
            <section class="exercise-section">
                <form action="/athletes/<%= regime._id %>/exerciseRoutine/<%= e._id %>?_method=DELETE" method="POST" class="delete-exercise-form">
                    <button class="btn" data='e._id' type="submit">Delete Exercise</button>
                </form>
            <% console.log(e._id) %>
            <td>Name: <%= e.nameExercise %></td><br>
            <td>Sets: <%= e.sets %></td><br>
            <td>Reps: <%= e.reps %></td><br>
            <td>Time: <%= e.time %></td>
        </section>
        <% }); %>
    </ul>
<a class="tag" href="/athletes/<%= user._id%>/home">Return to Profile</a>
