<%- include('../partials/header')%>

<p>WHATS UP ATHLETE</p>

<% athlete.regiments.forEach(function(r) { %>
<li id="info">
  Name: <%= r.name %> <br />Height: <%= r.height%> <br />Weight: <%= r.weight%>
  lbs
</li>
<td class="details">
  <a href="/athletes/<%= r._id %>/mealExercise"
    >Meal Plans and Exercise Routines</a
  >
</td>
<% }); %> <%- include('../partials/footer')%>
