<%- include('../partials/header')%>

<h1>WHATS UP ATHLETE</p>

<% athlete.regiments.forEach(function(r) { %>
<li id="info">
  Height: <%= r.height%>
  <br>Weight: <%= r.weight%>lbs
  <br>Description: <%= r.description%>
</li>
<td class="details">
  <a href="/athletes/<%= r._id %>/exerciseRoutine">Exercise Routines</a>
  <a href="/athletes/<%= r._id%>/mealPlan">Meal Plans</a>
</td>
<% }); %> <%- include('../partials/footer')%>
