<%- include('../partials/header') %>
<h1 id="meal-title">Meal Plan</h1>
<form id="add-meal-form" action="/athletes/<%= regime._id %>/mealPlan" method="POST">
    <label>Meals:</label>
    <select class="list" class="meal-info" name="nameMeal">
        <option value="Eggs">Eggs</option>
        <option value="Chicken Salad">Chicken Salad</option>
        <option value="Chicken Breast">Chicken Breast</option>
        <option value="Salmon">Salmon</option>
        <option value="Banana">Banana</option>
        <option value="Cheerios w/ Berries">Cheerios w/ Berries</option>
        <option value="Banana/Strawberry Smoothie">Banana/Strawberry Smoothie</option>
    </select><br><br>
    <label>Servings:</label>
    <input type="number" name="quantity" min="0">
    <button class="btn" type="submit">Add Meals</button>
</form>
<% regime.mealPlan.forEach(function(m) { %>
    <section class="meal-section">
            <form action="/athletes/<%= regime._id %>/mealPlan/<%= m._id %>?_method=DELETE" method="POST" class="delete-meal-form">
                <button class="btn" data='m._id' type="submit">Delete Meal</button>
                <td>Name: <%= m.nameMeal %></td><br>
                <td>Servings: <%= m.quantity %></td>
            </form>
    </section>
    <% }); %>
    <a class="tag" href="/athletes/<%= user._id%>/home">Return to Profile</a>